[Unit]
Description=TTMediaBot
Requires=pulseaudio.service

[Service]
Type=simple
ExecStartPre=/bin/rm -f %h/TTMediaBotCache.dat
ExecStart=/opt/TTMediaBot/TTMediaBot.sh -c %h/config.json
Restart=always

[Install]
WantedBy=default.target
